#chatads {
	max-width: 20%;
	max-height: 20%;
}

#keyword {
	float: left;
	width: 300px;
	height: 25px;
	margin-left: 350px;
	margin-top: 150px;
}

#download {
	float: right;
	width: 300px;
	height: 25px;
	margin-right: 350px;
	margin-top: 150px;
}

.search-buttons {
	margin-top: 100px;
	margin-left: 500px;
}

.installs {
	margin-top: 50px;
}